= render 'signup/shared/signup-head'
.single-container
  %header.single-header
    %h1
      = link_to "/" do
        = image_tag "mercari_logo.png", class: 'single-header__logo'
    %nav.progress
      %ul.progress__bar
        %li.active
          会員情報
          .progress-status.active
          .progress-status-line.active
        %li.active
          電話番号認証
          .progress-status.active
          .progress-status-line.active
        %li.active
          お届け先住所入力
          .progress-status.active
          .progress-status-line.active
        %li.payment.active
          支払い方法
          .progress-status.active
          .progress-status-line
        %li.complete
          完了
          .progress-status


.single-main

= render 'signup/shared/signup-footer'