= render partial: 'layouts/main-header'
//SwiperSlide
.swiper-container.slider
  .swiper-wrapper
    .swiper-slide
      = image_tag asset_path("bannartop.png"), alt: "バナー1"
    .swiper-slide
      =image_tag asset_path("bannartop2.png"), alt:"バナー2"
    .swiper-slide
      =image_tag asset_path("topbannermain892151cc75b1f6a1285bf7943c9b933c.png"), alt:"バナー背景"
  .swiper-pagination
  .swiper-button-prev
  .swiper-button-next

.popular-category-container
  %h2
    人気のカテゴリー
  %ul.popular-category-box
    %li.popular-category-box__item
      =link_to "レディース", root_path
    %li.popular-category-box__item
      =link_to "メンズ", root_path
    %li.popular-category-box__item
      =link_to "家電・スマホ・カメラ", root_path
    %li.popular-category-box__item
      =link_to "おもちゃ・ホビー・グッズ", root_path
.products-container
  .new-products-box
    .category-box
      .category-box-upper
        %h3.category-box-upper__heading
          レディース新着アイテム
        =link_to "もっと見る >", root_path
        
      .category-box-lower
        %ul
          - @ladies_items.each do |item|
            %li.category-item
              %figure.product
                .product__image-box
                  =link_to image_tag(item.images[0].image.to_s, alt: "商品画像"), home_path(item)
                .product__price
                  %span
                    ¥
                    =item.price
                %figcaption
                  %span
                    =item.name

    .category-box
      .category-box-upper
        %h3.category-box-upper__heading
          メンズ新着アイテム
        =link_to "もっと見る >", root_path
        
      .category-box-lower
        %ul
          - @mens_items.each do |item|
            %li.category-item
              %figure.product
                .product__image-box
                  =link_to image_tag(item.images[0].image.to_s, alt: "商品画像"), home_path(item)
                .product__price
                  %span
                    ¥
                    =item.price
                %figcaption
                  %span
                    =item.name

    .category-box
      .category-box-upper
        %h3.category-box-upper__heading
          おもちゃ・ホビー・グッズ新着アイテム
        =link_to "もっと見る >", root_path
        
      .category-box-lower
        %ul
          - @toy_items.each do |item|
            %li.category-item
              %figure.product
                .product__image-box
                  =link_to image_tag(item.images[0].image.to_s, alt: "商品画像"), home_path(item)
                .product__price
                  %span
                    ¥
                    =item.price
                %figcaption
                  %span
                    =item.name

    .category-box
      .category-box-upper
        %h3.category-box-upper__heading
          家電・スマホ・カメラ新着アイテム
        =link_to "もっと見る >", root_path
        
      .category-box-lower
        %ul
          - @machine_items.each do |item|
            %li.category-item
              %figure.product
                .product__image-box
                  =link_to image_tag(item.images[0].image.to_s, alt: "商品画像"), home_path(item)
                .product__price
                  %span
                    ¥
                    =item.price
                %figcaption
                  %span
                    =item.name



.popular-category-container
  %h2
    人気のブランド
  %ul.popular-category-box
    %li.popular-category-box__item
      =link_to "シャネル", root_path
    %li.popular-category-box__item
      =link_to "ルイヴィトン", root_path
    %li.popular-category-box__item
      =link_to "シュプリーム", root_path
    %li.popular-category-box__item
      =link_to "ナイキ", root_path

.products-container
  .new-products-box
    .category-box
      .category-box-upper
        %h3.category-box-upper__heading
          シャネル新着アイテム
        =link_to "もっと見る >", root_path
        
      .category-box-lower
        %ul
          - @chanel_items.each do |item|
            %li.category-item
              %figure.product
                .product__image-box
                  =link_to image_tag(item.images[0].image.to_s, alt: "商品画像"), home_path(item)
                .product__price
                  %span
                    ¥
                    =item.price
                %figcaption
                  %span
                    =item.name

    .category-box
      .category-box-upper
        %h3.category-box-upper__heading
          ルイヴィトン新着アイテム
        =link_to "もっと見る >", root_path
        
      .category-box-lower
        %ul
          - @louisvuitton_items.each do |item|
            %li.category-item
              %figure.product
                .product__image-box
                  =link_to image_tag(item.images[0].image.to_s, alt: "商品画像"), home_path(item)
                .product__price
                  %span
                    ¥
                    =item.price
                %figcaption
                  %span
                    =item.name

    .category-box
      .category-box-upper
        %h3.category-box-upper__heading
          シュプリーム新着アイテム
        =link_to "もっと見る >", root_path
        
      .category-box-lower
        %ul
          - @supreme_items.each do |item|
            %li.category-item
              %figure.product
                .product__image-box
                  =link_to image_tag(item.images[0].image.to_s, alt: "商品画像"), home_path(item)
                .product__price
                  %span
                    ¥
                    =item.price
                %figcaption
                  %span
                    =item.name

    .category-box
      .category-box-upper
        %h3.category-box-upper__heading
          ナイキ新着アイテム
        =link_to "もっと見る >", root_path
        
      .category-box-lower
        %ul
          - @nike_items.each do |item|
            %li.category-item
              %figure.product
                .product__image-box
                  =link_to image_tag(item.images[0].image.to_s, alt: "商品画像"), home_path(item)
                .product__price
                  %span
                    ¥
                    =item.price
                %figcaption
                  %span
                    =item.name
= render partial: 'layouts/exhibit-btn'
= render partial: 'layouts/main-footer'

//SwiperSlideScript
:javascript
  var mySwiper = new Swiper ('.swiper-container', {
  effect: "slide",
  loop: true,
  pagination: '.swiper-pagination',
  nextButton: '.swiper-button-next',
  prevButton: '.swiper-button-prev',
  autoplay:5000,
  })

