= render partial: 'layouts/main-header'
- breadcrumb :logout
= breadcrumbs separator: " &rsaquo; "

.contents-container
  %main.mypage-container
    = render partial: 'layouts/sidebar'
    .contents
      .user-logout-container
        =link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn-logout"

= render partial: 'layouts/main-footer'