@import 'mixin.scss';

.useritem-container{
  width: 100vw;
  padding: 40px 0;
  background-color: #eee;
  @include clearfix();
  .product-container{
    margin: 0 230px 0 0;
    float:right;
  }
  .product-changestatus-btns-container{
    margin-top: 8px;
    background-color: white;
    .product-changestatus-btns{
      box-sizing: border-box;
      padding: 8px 24px;
      width: 700px;
      text-align: center;
      .btn{
        margin: 16px 0;
        display: block;
        height: 50px;
        width: 100%;
        background-color: red;
        color: white;
        cursor: pointer;
        outline: 0;
        line-height: 50px;
        @include TextDecoNone(white);
      }
      .btn-grey{
        background-color: #aaa;
      }
      
    }
  }
}