.contents-container
  %main.identification-container
    = render partial: 'layouts/sidebar'
    .identification
      %h2.identification__head
        本人情報の登録
      .identification__contents
        = form_for :user do |f|
          %p
            お客さまの本人情報をご登録ください。
            %br
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %p.description
            =link_to '本人確認書類のアップロードについて','#'
          
          .identification__form
            %label
              お名前
            %p
              山田 太郎
          .identification__form
            %label
              お名前カナ
            %p
              ヤマダ タロウ
          .identification__form
            %label
              生年月日
            %p
              2000/01/01
          .identification__form.form-arbitary
            %label
              郵便番号
              %span
                任意
            = f.text_field :address,placeholder:"例)1234567"
          .identification__form.form-arbitary
            %label
              都道府県
              %span
                任意
            = f.select :prefectures, Address.prefectures.keys.to_a,{}