.exhibit-btn{
  z-index: 1;
  padding-top: 32px;
  box-sizing: border-box;
  position: fixed;
  background-color: rgb(255, 60, 0);
  height: 160px;
  width: 160px;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;

  span{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
  }

  i{
    color: white;
    padding-left: 49px;
  }
}