@mixin clearfix(){
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin aTextDecoNone($color){
  a{
    text-decoration:none;
    color: $color;  
  }

  a:visited{
    color: $color;
  }  
}

@mixin TextDecoNone($color){
  &{
    text-decoration: none;
  }
  &:visited{
    color: $color;
  }
}


@mixin linkHover(){
  &:hover{
    cursor: pointer;
    a{
    color: rgb(0, 157, 209);
    }
  }
}

@mixin spreadClickRange(){
  & a{
    display:block;
  }
}

@mixin boxDesignBorderRadius($color){
  border: thin 3px $color;
  border-radius: 16px;
  background-color: $color;
}

@mixin toggleTabDesign(){
  height: 72px;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  text-align: center;

  li{
    background-color: #eeeeee;
    width: 50%;
    list-style: none;
    line-height: 72px;
    cursor: pointer;
    @include spreadClickRange();
    @include aTextDecoNone(black);           
    a:hover{
      color: rgb(121, 121, 121);
    }
  }

  .active{
    background-color: white;
    border-top: solid 2px red;
  }
}