@import 'mixin.scss';

.contents-container{
  width: 100vw;
  box-sizing: border-box;
  background-color: #eeeeee;
  padding-top: 40px;

  .mypage-container{
    width: 1020px;
    margin: 0 auto 0;
    padding-bottom: 40px;
    background-color: #eeeeee;
    @include clearfix();
  }
}