@import 'mixin.scss';

.profile-container{
  width: 1020px;
  margin: 0 auto 0;
  padding-bottom: 40px;
  background-color: #eeeeee;
  @include clearfix();
}

.profile{
  float: right;
  width: 700px;
  background-color: white;
  
  &__head{
    padding: 8px 24px;
    box-sizing: border-box;
    text-align: center;
  }

  &__change-nickname{
    height: 156px;
    background-image: image-url('user-bg.jpg');
    padding: 72px 16px 24px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;

    img{
      height: 60px;
      width: 60px;
      border-radius: 50%;
      margin-right: 10px;
    }

    input[type=text]{
      box-sizing: border-box;
      padding: 10px 16px 8px;
      height: 60px;
      width: 220px;
      border-radius: 10px;
      border: 1px solid #ccc;
      outline: 0;
      font-size: 1rem;
    }
  }

  &__change-introduction{
    padding: 40px 16px;
    box-sizing: border-box;

    textarea{
      padding: 10px;
      box-sizing: border-box;
      height: 216px;
      width: 670px;
      margin-bottom: 20px;
    }
  }
  &__change-btn{
    background-color: red;
    color: white;
    height: 50px;
    width: 100%;
    outline: 0;
    cursor: pointer;
  }
}