.product-container{
  width: 700px;
  margin: 0 auto;
  .product{
    background-color: white;
    padding: 24px 40px 40px;

    &__name{
      margin: 0 0 16px 0;
      text-align: center;
      font-size: 1.5rem;
    }
    
    &__info{
      display:flex;
      justify-content: space-between;
    }
    
    &__image{
      width: 300px;
      &--large{
        img{
          height: 300px;
          width: 100%;
          object-fit: contain;
        }
      }

      &--small{
        background-color: #eee;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
          img{
            height:60px;
            width: 60px;
            object-fit: contain;
            cursor: pointer;
            opacity: 0.6;
          }
      }
    }
    
    &__detail{
      width: 300px;

      th{
        background-color: #fafafa;
        width: 40%;
        padding: 16px 8px;
        font-size: 0.7rem;
      }

      td{
        width: 60%;
        padding: 8px;
      }
    } 
  }
}